.header {
    
}

.navbar {
	&-style {
		background-color: @themeColor1;
		border-radius: 0;
		border: 0;
		a, .nav > li > a {
			color: @whiteColor;
			background-color: transparent;
			&:hover, &:focus, &.active {
				background-color: @themeColor2;
			}
		}
		@media (max-width: @grid-float-breakpoint-max) {
			.dropdown-menu {
				background-color: darken(@themeColor1, 20%) !important;
				border-radius: 0;
				> li > a {
					color: @whiteColor;
					background-color: transparent;
					&:hover, &:focus, &.active {
						background-color: @themeColor2;
					}
				}
				.divider {
					margin: 5px 0;
					background-color: rgba(255, 255, 255, 0.1);
				}
			}
		}
	}
	&-toggle {
		border-color: @whiteColor;
		color: @whiteColor;

		.icon-bar {
			background-color: @whiteColor;
		}
	}
}